Repository LiamBrenner/SendLive: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: darglint
        name: darglint
        entry: darglint
        language: system
        types: [python]
        stages: [manual]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.8
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format

Minor styling fixes
  noxfile.py
Due: none

Add .vscode folder with task for nox full suite + a few settings
  .vscode/settings.json
  .vscode/tasks.json
Due: none

Added devcontainer config
  .devcontainer/devcontainer.json
Due: none

Update library dir in nox args
  noxfile.py
Due: none

Update pre-commit hooks, remove darglint hook
  .pre-commit-config.yaml
Due: check-yaml

Remove darglint
  .darglint
  noxfile.py
  poetry.lock
  pyproject.toml
Due: check-toml

Formatting fixes
  pyproject.toml
Due: check-toml

Add .editorconfig
  .editorconfig
Due: none

Add blank lines to end of files
  .devcontainer/devcontainer.json
  .vscode/settings.json
  .vscode/tasks.json
Due: none

Change ruff rules for tests
  pyproject.toml
Due: check-toml

Change coverage path
  pyproject.toml
Due: check-toml

Update coverage path
  pyproject.toml
Due: check-toml

Add pydantic as dep, moto as dev dep (for boto3 mock tests)
  poetry.lock
  pyproject.toml
Due: check-toml

Improve vscode mypy config, excluded files, etc
  .vscode/settings.json
Due: none

Add pydantic plugin to mypy conf
  pyproject.toml
Due: check-toml

Add boto3 stubs as dev dep
  poetry.lock
  pyproject.toml
Due: check-toml

Reformat boto3-stubs req in pyproject.toml
  pyproject.toml
Due: check-toml

Fix boto3 version, add typing-extensions
  poetry.lock
  pyproject.toml
Due: check-toml

Ignore no docstring for modules
  pyproject.toml
Due: check-toml

Ignore pyupgrade non pep604 annotation
  pyproject.toml
Due: check-toml

Initial implementation
  sendlive/__init__.py
  sendlive/adapter.py
  sendlive/config.py
  sendlive/constants.py
  sendlive/exceptions.py
  sendlive/providers/__init__.py
  sendlive/providers/aws.py
  sendlive/providers/gcp.py
  sendlive/stream.py
  sendlive/utils.py
Due: none

Add example file
  example/start_stream.py
Due: none

temp ignore type errors in constants
  sendlive/constants.py
Due: none

update boto3 stubs
  poetry.lock
  pyproject.toml
Due: check-toml

Update ruff rule config pathes to actually match where tests are located
  pyproject.toml
Due: check-toml

Exclude tests from S105
  pyproject.toml
Due: check-toml

Further ruff exemptions for test files
  pyproject.toml
Due: check-toml

Rejig the way adapters and credentials work to avoid circular imports, write a couple of tests + implement medialive endpoint creation etc
  sendlive/config.py
  sendlive/constants.py
  sendlive/providers/__init__.py
  sendlive/providers/aws/__init__.py
  sendlive/providers/aws/adapter.py
  sendlive/providers/aws/stream.py
  sendlive/providers/aws/tests/__init__.py
  sendlive/providers/aws/tests/test_aws_adapter.py
  sendlive/providers/aws/tests/test_aws_stream.py
  sendlive/providers/gcp/__init__.py
  sendlive/providers/gcp/adapter.py
  sendlive/providers/gcp/stream.py
  sendlive/utils.py
Due: none

Bump poetry.lock
  poetry.lock
Due: none

Add appropriate type annotations to tests
  sendlive/providers/aws/tests/test_aws_adapter.py
  sendlive/providers/aws/tests/test_aws_stream.py
Due: none

Change boto3 and google cloud video live stream to non optional deps
  poetry.lock
  pyproject.toml
Due: check-toml

Change required deps from dev to main
  poetry.lock
  pyproject.toml
Due: check-toml

change version num to hopefully fix tests
  pyproject.toml
Due: check-toml

Remove unused #type ignore
  sendlive/providers/aws/adapter.py
Due: none

Modify nox file to install dev deps
  noxfile.py
Due: none

Install all dev deps correctly with nox
  noxfile.py
Due: none

Catch possible absence of boto session
  sendlive/providers/aws/adapter.py
Due: none

Add boto3 vscode ext to devcontainer
  .devcontainer/devcontainer.json
Due: none

get secret value from SecretStr correctly
  sendlive/providers/aws/adapter.py
Due: none

gitignore local folder
  .gitignore
Due: none
